name: build project

run-name: building

on:
  release:
    type: published

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: set up accessors
        run: ./gradlew generateAccessors
      - name: set up version compat
        run: ./gradlew rebuildStubs
      - name: build plugin
        run: ./gradlew build
      - name: package api
        run: |
          ./gradlew apiJar
          ./gradlew apiSourcesJar
      - uses: actions/upload-artifact@v6
        with:
          name: "plugin"
          path: "./build/libs/"
          retention-days: 1
      - uses: actions/upload-artifact@v6
        with:
          name: "api"
          path: "./core/build/libs/"
          retention-days: 1
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            "build/libs/*.jar"
            "build/libs/api/*.jar"
      - name: get info from properties
        id: properties
        run: |
          source <(grep -E '^(plugin_name|plugin_version|supported_mc_versions|supported_loaders) = ' gradle.properties)
          echo "plugin_name=${plugin_name}" >> $GITHUB_OUTPUT
          echo "plugin_version=${plugin_version}" >> $GITHUB_OUTPUT
          echo "mc_verions=${supported_mc_versions}" >> $GITHUB_OUTPUT
          echo "supported_loaders=${supported_loaders}" >> $GITHUB_OUTPUT
      - name: publish
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: o8TGTrsR
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-featured: false

          curseforge-id: 1453942
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: "build/libs/*.jar"

          name: "${{ steps.properties.outputs.plugin_name }}"
          version: "${{ steps.properties.outputs.plugin_version }}"
          version-type: "${{ steps.properties.outputs.release_type }}"

          loaders: "${{ steps.meta.outputs.supported_loaders}}"
          game-versions: "${{ steps.properties.outputs.mc_verions }}"
          game-version-filter: "releases"
          fail-mode: warn

