name: build project

run-name: building

on:
  workflow_dispatch
#  release:
#    type: published

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: build with gradle
        run: |
          ./gradlew generateAccessors
          ./gradlew rebuildStubs
          ./gradlew build
          ./gradlew apiJar
          ./gradlew apiSourcesJar
      - uses: actions/upload-artifact@v6
        with:
          name: "plugin"
          path: "./build/libs/"
          retention-days: 1
      - uses: actions/upload-artifact@v6
        with:
          name: "api"
          path: "./core/build/libs/"
          retention-days: 1

